.CurrentlyWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    height: 100%;
    border-radius: 10px;
}

.weather{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather h1{
    font-size: 52px;
}

.cityName{
    font-size: 32px;
}

.deg{
    color:rgb(175, 203, 255);
}

.selectSity{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.selectSity input{
    border: unset;
    outline: none;
    background: none;
    border-bottom: 2px solid rgb(175, 203, 255);
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}

.selectSity img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


.weatherParams{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}

.weatherParametr{
    text-align: center;
    margin-right: 40px;
    margin-bottom: 50px;

}

.weatherParametr:last-child{
    margin-right: 0;
}


.weatherParametr h3{
    font-size: 18px;
    color: rgb(175, 203, 255);
    margin: 5px 0;
}

.weatherParametr p{
    font-size: 22px;
    font-weight: 800;
}
.paramsIcon{
    width: 60px;
    height: 60px;

}