.chunkWeather{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 740px;
    overflow: hidden;
    padding: 0 10px;
}

.paginationBt{
    background: none;
    outline: none;
    border: unset;
    font-size: 52px;
    font-weight: 800;
    color: #fff;
}

.paginationBt img{
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: all 0.2s linear;
}

.paginationBt img:hover{
    opacity: 0.8;
}

.backBt{
    transform: scale(-1, 1);
}