.chunk{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-right: 10px;
    height: 200px;
    padding: 10px 20px;
    width: 50px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}




.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    
    font-size: 16px;
    font-weight: 600;
}

.date::before{
    content: ' ';
    height: 1px;
    width: 100%;
    background-color: rgb(204, 204, 204);
    margin-bottom: 5px;
}


.time{
    margin-bottom: 5px;
    font-weight: 700;
}